@{
    ViewData["Title"] = "Home Page";

    List<Producto> listado = (List<Producto>)ViewBag.ListaProducto;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>@ViewBag.Mensaje</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Precio (USD)</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Producto item in listado)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Descripcion</td>
            <td>@item.Precio</td>
        </tr>
        }
    </tbody>    
</table>
